<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Great Poem Prose">
        <meta name="keywords" content="Poem, Poetry, Prose, Writing, Great Talent">
        <meta name="author" content="Josh Chacko">
        <meta name="googlebot" content="all">
        <meta name="robots" content="all">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Josh Chacko</title>
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400, 700, 500" rel="stylesheet">-->
        <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Clicker+Script|Herr+Von+Muellerhoff|Mr+De+Haviland" rel="stylesheet"> 
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-md bg-dark mb-4 fixed-top">
            <a class="navbar-brand" href="/writings/index">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'poems' ? 'active' : '' %>">
                        <a class="nav-link" href="/poems/index">Poems</a>
                    </li>
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'prose' ? 'active' : '' %>">
                        <a class="nav-link" href="/proses/index">Prose</a>
                    </li>
                </ul>
                </ul>
                    <ul class="navbar-nav">
                      <% if(!currentUser){ %>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                    <% } else { %>
                        <!--Notifications-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-epanded="false">Notifications <span class="badge">
                            <%= notifications.length %></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="href-class" href="/notifications">View past notifications</a>
                                </li>
                                <% notifications.forEach(function(notification) { %>
                                    <% if (notification.poemId) { %>
                                        <li>
                                            <a class="href-class" href="/notifications/<%= notification.id %>">
                                                Posted new poem - <%= notification.poemName %>
                                            </a>    
                                        </li>
                                    <% } %>  
                                    <% if (notification.proseId) { %>
                                        <li>
                                            <a class="href-class" href="/notifications/<%= notification.id %>">
                                                Posted new prose - <%= notification.proseName %> 
                                            </a>    
                                        </li>
                                    <% } %>  
                                <% }) %>
                            </ul>
                        </li>
                        
                        <li class="nav-item"><a class="nav-link" href="#">   </a></li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-epanded="false"> Signed In As <%= currentUser.email %> </a>
                            <ul class="dropdown-menu">
                                <li> <a class="href-class" href="/logout">Logout</a> </li>
                                <li> <a class="href-class" href="/edit-profile">Update Profile</a> </li>
                            </ul>
                        </li>
                    <% } %>   
                </ul>
            </div>
        </nav> 
        
        <div class="container" >
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger normal-font" role="alert">        
                    <%= error %>
                </div>  
            <% } %>  
            <% if(success && success.length > 0) { %>
                <div class="alert alert-success normal-font" role="alert">        
                    <%= success %>
                </div> 
            <% } %>    
        </div>
        




